In [124]:
import pandas as pd 
import time
import random
from bs4 import BeautifulSoup
import requests

In [128]:
# Scraping all rosters from NCAA

In [125]:
# season_ids = {2012:10942, 2013:11320, 2014:11620, 2015:12080, 2016:12360, 2017:12560, 2018:12973, 2019:14781, 2020:15204, 2021:15580}
season_lu = pd.read_csv('data/ncaa/ncaa_seasonid_lu.csv').iloc[:, 1:]
season_lu = season_lu.iloc[:, 1:]
season_lu

   season     id  batting_id  pitching_id
0    2012  10942       10082        10083
1    2013  11320       10120        10121
2    2014  11620       10460        10461
3    2015  12080       10780        10781
4    2016  12360       10946        10947
5    2017  12560       11000        11001
6    2018  12973       11953        11954
7    2019  14781       14643        14644
8    2020  15204       14760        14761
9    2021  15580       14840        14841

In [129]:
school_lu = pd.read_csv("data/ncaa/school_lookup.csv").iloc[:, 1:]
school_lu = school_lu.iloc[:, 1:]
school_lu.sample(5)

                conference  school_id  year  division  conference_id
7337                  GLVC        799  2017         2            855
109        Great Northeast       2798  2014         3          23257
5976                   CAC        611  2016         3          15810
457   Conference Carolinas      15646  2016         2           4423
1232            Peach Belt      30058  2020         2          12923

In [ ]:
df = school_lu
dfs = {}
i = 0 
for index, row in df.iterrows():
    dfs[(row.school_id, row.year)] = get_roster(row.school_id, row.year, headers = {'User-Agent':'Mozilla/5.0'})
    # tryna be sneaky 
    time.sleep(random.uniform(0, 0.25))
    i+=1
    if i % 50 == 0:
        print(str(i)+'/8437')

In [320]:
df_old = pd.DataFrame()
for key in dfs.keys(): 
    df_new = dfs[key].copy()
    if key[1] == 2019: 
        df_new = df_new.drop(columns=['height'])
    df_new['school_id'] = key[0] 
    df_new['season'] = key[1] 
    df_old = pd.concat([df_old, df_new])
df_old

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,school_id,season
0,29,1314585,"Beard, Tim",P,Sr,3,0,26172,2013
1,5,1314553,"Belicek, Trevor",P,So,16,12,26172,2013
2,3,1314524,"Brantley, Stafford",OF,Sr,51,38,26172,2013
3,41,None,"Cano, Chris",P,Fr,0,0,26172,2013
4,30,1438814,"Casey, Thomas",P,So,12,0,26172,2013
...,...,...,...,...,...,...,...,...,...
37,22,2347725,"Vomhof, Sam",INF,So,41,37,805,2021
38,10,2347714,"Wenz, Jake",C,So,0,0,805,2021
39,0,2526534,"Wessel, Austin",ss,N/A,6,0,805,2021
40,17,2145258,"White, Taylor",1B,Jr,27,27,805,2021
41,32,1872206,"Wilkins, Ben",INF,Sr,28,15,805,2021

In [ ]:
df_main = df_old
df_main.to_csv('data/ncaa/ncaa_players_2013-2021.csv')

In [292]:
df_2013 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2013: 
        df_2013 = df_2013.append(dfs[key])
df_2013['season'] = 2013
df_2013

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,29,1314585,"Beard, Tim",P,Sr,3,0,2013
1,5,1314553,"Belicek, Trevor",P,So,16,12,2013
2,3,1314524,"Brantley, Stafford",OF,Sr,51,38,2013
3,41,None,"Cano, Chris",P,Fr,0,0,2013
4,30,1438814,"Casey, Thomas",P,So,12,0,2013
...,...,...,...,...,...,...,...,...
29,33,1301322,"Trimbur, Ryan",C,So,0,0,2013
30,25,1416297,"Wellan, Jonas",C,Fr,20,4,2013
31,17,1416298,"White, Josh",C,Jr,49,44,2013
32,27,1416299,"Wight, Jared",P,Fr,15,8,2013
33,30,1080808,"Williams, Padraic",INF,Sr,22,10,2013

In [293]:
df_2014 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2014: 
        df_2014 = df_2014.append(dfs[key])
df_2014['season'] = 2014
df_2014

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,5,1314553,"Belicek, Trevor",P,Jr,15,15,2014
1,3,1546814,"Burner, Brett",SS,Fr,13,7,2014
2,30,1438814,"Casey, Thomas",P,Jr,3,0,2014
3,40,1546815,"Cooper, Chris",P,Fr,0,0,2014
4,45,1438823,"D'Spain, Dalton",P,So,21,6,2014
...,...,...,...,...,...,...,...,...
30,12,1416297,"Wellan, Jonas",1B,So,0,0,2014
31,17,1416298,"White, Josh",C,Sr,39,38,2014
32,27,1416299,"Wight, Jared",P,So,17,7,2014
33,7,1528664,"Willoughby, Shane",INF,Fr,50,48,2014
34,34,1528665,"Yarabinec, Kevin",P,Fr,20,0,2014

In [294]:
df_2015 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2015: 
        df_2015 = df_2015.append(dfs[key])
df_2015['season'] = 2015
df_2015

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,36,1652736,"Allec, Brian",P,So,3,0,2015
1,35,1652734,"Balfantz, Scott",C,Fr,14,4,2015
2,5,1314553,"Belicek, Trevor",P,Sr,16,12,2015
3,10,1546814,"Burner, Brett",SS,So,53,44,2015
4,30,1438814,"Casey, Thomas",P,Sr,4,0,2015
...,...,...,...,...,...,...,...,...
24,18,1301321,"Smith, Brad",P,Sr,8,0,2015
25,31,1528663,"Sullivan, Matt",INF,Sr,39,30,2015
26,27,1416299,"Wight, Jared",P,Jr,14,5,2015
27,7,1528664,"Willoughby, Shane",INF,So,48,47,2015
28,34,1528665,"Yarabinec, Kevin",P,So,3,3,2015

In [295]:
df_2016 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2016: 
        df_2016 = df_2016.append(dfs[key])
df_2016['season'] = 2016
df_2016

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,27,1652736,"Allec, Brian",P,Jr,2,0,2016
1,7,1770934,"Anderson, Nick",OF,Fr,48,44,2016
2,35,1652734,"Balfantz, Scott",C,So,33,25,2016
3,33,1770944,"Blakeley, Austin",INF,Fr,7,1,2016
4,10,1546814,"Burner, Brett",SS,Jr,42,35,2016
...,...,...,...,...,...,...,...,...
28,25,1751901,"Sparks, Chris",P,Fr,7,2,2016
29,27,1416299,"Wight, Jared",P,Sr,25,0,2016
30,7,1528664,"Willoughby, Shane",INF,Jr,47,44,2016
31,34,1528665,"Yarabinec, Kevin",P,Jr,24,0,2016
32,6,1751902,"Zeller, Blake",C,Fr,3,1,2016

In [296]:
df_2017 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2017: 
        df_2017 = df_2017.append(dfs[key])
df_2017['season'] = 2017
df_2017

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,27,1652736,"Allec, Brian",P,Sr,5,2,2017
1,7,1770934,"Anderson, Nick",OF,So,54,53,2017
2,18,1652734,"Balfantz, Scott",C,Jr,31,17,2017
3,5,1884316,"Boudreaux, Cam",INF,Jr,34,19,2017
4,24,1884353,"Brokop, Dan",INF,Jr,16,4,2017
...,...,...,...,...,...,...,...,...
27,26,1528662,"Smith, Ryan",P,Sr,13,2,2017
28,25,1751901,"Sparks, Chris",P,So,2,1,2017
29,7,1528664,"Willoughby, Shane",INF,Sr,45,45,2017
30,34,1528665,"Yarabinec, Kevin",P,Sr,14,7,2017
31,27,None,"Zaluski, Tyler",OF,Fr,0,0,2017

In [297]:
df_2018 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2018: 
        df_2018 = df_2018.append(dfs[key])
df_2018['season'] = 2018
df_2018

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,7,1770934,"Anderson, Nick",OF,Jr,55,53,2018
1,39,1998346,"Ayala, A.G.",P,Fr,23,2,2018
2,18,1652734,"Balfantz, Scott",C,Sr,27,17,2018
3,15,1998327,"Bauer, Payton",P,Fr,19,0,2018
4,30,1998330,"Beard, Trevor",C,Jr,3,2,2018
...,...,...,...,...,...,...,...,...
30,11,1867482,"Santoro, Anthony",C,Sr,12,8,2018
31,30,1974027,"Shivak, Andrew",P,Fr,2,0,2018
32,9,1974028,"Snyder, Jon",P,Fr,0,0,2018
33,19,1974030,"Trace, Austin",C,Fr,25,20,2018
34,7,1974031,"Wehler, Jeff",INF,Fr,53,51,2018

In [288]:
df_2019 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2019: 
        df_2019 = df_2019.append(dfs[key])
df_2019['season'] = 2019
df_2019 = df_2019.drop(columns=['height'])
df_2019

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,7,1770934,"Anderson, Nick",OF,Sr,57,57,2019
1,39,1998346,"Ayala, A.G.",P,So,21,5,2019
2,15,1998327,"Bauer, Payton",P,So,3,0,2019
3,10,1998330,"Beard, Trevor",C,Jr,38,27,2019
4,1,1884356,"Burts, Itchy",2B,Jr,57,57,2019
...,...,...,...,...,...,...,...,...
30,20,2126076,"Souder, Brett",P,Fr,19,0,2019
31,36,2126080,"Swarmer, Dylan",C,Fr,45,41,2019
32,7,1974031,"Wehler, Jeff",INF,So,48,48,2019
33,19,1648434,"Wiersma, Trevor",INF,Sr,53,53,2019
34,21,2126077,"Williams, Aaron",P,So,5,0,2019

In [298]:
df_2020 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2020: 
        df_2020 = df_2020.append(dfs[key])
df_2020['season'] = 2020
df_2020

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,20,2320559,"Balusek, Bryce",INF,Fr,3,2,2020
1,10,1998330,"Beard, Trevor",C,Sr,18,14,2020
2,14,2320560,"Berman, Josh",INF,Sr,10,4,2020
3,7,2320561,"Bird, Henry",P,Jr,8,0,2020
4,43,2331966,"Black, Troy",P,Sr,11,9,2020
...,...,...,...,...,...,...,...,...
30,38,2126038,"Ritter, John",C,So,0,0,2020
31,9,1974028,"Snyder, Jon",P,So,4,2,2020
32,19,2126080,"Swarmer, Dylan",C,So,4,2,2020
33,18,2308671,"Warwick, Bryce",P,Fr,5,1,2020
34,7,1974031,"Wehler, Jeff",OF,Jr,14,14,2020

In [299]:
df_2021 = pd.DataFrame()
for key in dfs.keys(): 
    if key[1] == 2021: 
        df_2021 = df_2021.append(dfs[key])
df_2021['season'] = 2021
df_2021

,jersey,stats_player_seq,name,position,class_year,games_played,games_started,season
0,19,2139158,"Batcho, Drake",P,Jr,8,3,2021
1,2,2139167,"Bellini, Joey",INF,Sr,53,53,2021
2,18,2493016,"Bergmann, Max",P,Fr,16,0,2021
3,41,2493018,"Bradbury, Aiden",P,Fr,10,0,2021
4,16,1990946,"Bremner, Dondrae",INF,Jr,13,8,2021
...,...,...,...,...,...,...,...,...
37,22,2347725,"Vomhof, Sam",INF,So,41,37,2021
38,10,2347714,"Wenz, Jake",C,So,0,0,2021
39,0,2526534,"Wessel, Austin",ss,N/A,6,0,2021
40,17,2145258,"White, Taylor",1B,Jr,27,27,2021
41,32,1872206,"Wilkins, Ben",INF,Sr,28,15,2021

In [341]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021]
df_all = pd.concat(frames)
df_all.to_csv('data/ncaa/ncaa_all_players_2013-2021.csv', index=False)
len(df_all) == len(df_2013)+len(df_2014)+len(df_2015)+len(df_2016)+len(df_2017)+len(df_2018)+len(df_2019)+len(df_2020)+len(df_2021)

True

In [258]:
def get_roster(school_id, year, headers):     
    """
    valid 2012 - 2021
    """
    season_id = season_lu[season_lu.season == year].id.values[0]
    r = requests.get(f"""https://stats.ncaa.org/team/{str(school_id)}/roster/{str(season_id)}""", headers=headers)
    soup = BeautifulSoup(r.text)
    res = []    
    if year == 2019: 
        num_values = 7
        col_names = ['jersey', 'stats_player_seq', 'name', 'position', 'height', 'class_year', 'games_played', 'games_started']
    else:
        num_values = 6
        col_names = ['jersey', 'stats_player_seq', 'name', 'position', 'class_year', 'games_played', 'games_started']
    for index, value in enumerate(soup.find_all('td')):
        if index % num_values == 0: # each player has 6 associated values in table 
            details = [] # new list for each players
            res.append(details) # DataFrame deals with extra list for us 
        if index % num_values == 1: # need to get stats_player_seq from href tag 
            try: # not sure if there is a way to do with w/o catching an error, but it works.
                details.append((value.contents[0].get('href')[-7:])) # 7-digit id 
                details.append(value.contents[0].string) # player name
            except:
                details.append(None) # no id found (occurs when players has 0 games played)
                details.append(value.contents[0]) # player name 
        else: 
            try: 
                details.append(value.contents[0]) #
            except: 
                details.append(None)
    df = pd.DataFrame(res)
    df.columns = col_names
    return df

In [121]:
def get_career_stats(stats_player_seq, game_sport_year_ctl_id, org_id=None):
    """
    """
    # craft GET request to NCAA site
    payload = {'game_sport_year_ctl_id':str(game_sport_year_ctl_id), 'stats_player_seq':str(stats_player_seq), 'org_id':str(org_id)}
    url = 'https://stats.ncaa.org/player/game_by_game'
    headers = {'User-Agent':'Mozilla/5.0'}
    # send request
    r = requests.get(url, params=payload, headers=headers)
    # parse data
    soup = BeautifulSoup(r.text)
    table = soup.find_all('table')[2]

    headers = []
    for val in table.find_all('th'):
        headers.append(val.string.strip())

    rows = []
    row = []
    for val in table.find_all('td'):
        if 'data-order' in val.attrs:
            row.append(val['data-order'])
        elif val.a is not None: 
            row.append(val.a.attrs)
        elif val.string.strip() != 'Career' and 'width' not in val.attrs:
            if row != []:
                rows.append(row)
            row = []
            row.append(val.string.strip())
        else: 
            if val.string.strip() != 'Career':
                row.append(val.string.strip())
            
    # Turn into DataFrame
    df = pd.DataFrame(rows)
    df.columns = headers
    return df

In [123]:
get_career_stats(1547003, 12080, 167)

,Year,Team,GP,G,BA,OBPct,SlgPct,R,AB,H,...,BB,HBP,SF,SH,K,DP,SB,CS,Picked,IBB
0,2013-14,{'href': '/team/167/11620'},39,-,0.280,0.356,0.552,23,143,40,...,12,5,-,-,40,1,3,-,-,2
1,2014-15,{'href': '/team/167/12080'},40,-,0.224,0.333,0.313,22,134,30,...,19,4,2,-,38,2,2,3,-,-